@font-face {
	font-family: "SegoeUI Semibold";
	src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf");
	src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
	src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff");
}
@font-face {
	font-family: "SegoeUI Light";
	src: url("../fonts/SegoeUILight/SegoeUILight.ttf");
	src: url("../fonts/SegoeUILight/SegoeUILight.eot");
	src: url("../fonts/SegoeUILight/SegoeUILight.woff");
}
@font-face {
	font-family: "SegoeUI Regular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.woff");
}
@font-face {
	font-family: "SegoeUI Bold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.ttf");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.woff");
}