@font-face {
	font-family: "Playfair Display Black";
	src: url(../fonts/PlayfairDisplay-Black.ttf);
}
@font-face {
	font-family: "Playfair Display Bold";
	src: url(../fonts/PlayfairDisplay-Bold.ttf);
}
@font-face {
	font-family: "Playfair Display Regular";
	src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
	font-family: "HammersmithOne";
	src: url(../fonts/HammersmithOne-Regular.ttf);
}