@media only screen and (min-width: 1601px) {
	body {
		min-width: 100%;
	}
	.ePic {
		min-width: 40%;
	}
}
@media only screen and (max-width: 1350px) {
	.ePic {
		min-width: 57%;
	}
	.fLeft p {
		margin-bottom: 50px;
	}
	.fLeft li {
		display: block;
	}
	.fLeft li:nth-of-type(2),
	.fLeft li:nth-of-type(3) {
		padding-left: 0;
	}
	.fRight .social {
		margin: 20px 0;
	}
	.videoWrapper #controls {
		left: 46%;
	}
	.imgSet a {
		flex-basis: 38%;
	}
}
@media only screen and (max-width: 1200px) {
	#controls {
		left: 46%!important;
	}
	.formAndClients {
		flex-wrap: wrap;
	}
	.form {
		order: 2;
	}
	.clients {
		order: 1;
		flex-basis: 100%;
	}
	.imgSet a {
		flex-basis: 10%;
		margin: auto;
		padding: 0 6% 45px 0;
	}
}
@media only screen and (max-width: 950px) {
	video {
		padding: 25px 0;
	}
	#controls {
		top: 35%!important;
	}
	.ePic {
		min-width: 80%;
	}
	.teamItems {
		flex-wrap: wrap;
	}
	.tItem {
		flex-basis: 32%;
		margin-bottom: 25px;
	}
	.g-item {
		flex-basis: 25%
	}
}
@media only screen and (max-width: 795px) {
	h1:after {
		display: none;
	}
	#controls {
		top: 35%!important;
		left: 45%!important;
	}
	.expertiseItems {
		flex-direction: column;
	}
	.ePic {
		min-width: 25%;
	}
}
@media only screen and (max-width: 715px) {
	.logo {
		flex-basis: 30%;
	}
	.headerNav {
		flex-basis: 70%;
	}
	.headerNav li:nth-of-type(4),.headerNav li:nth-of-type(5),
	.headerNav li:nth-of-type(6),.headerNav li:nth-of-type(7) {
		display: none;
	}
	.more a {
		display: block;
	}
	.sliderHeader {
		width: 100%;
	}
	.firstSection {
		flex-direction: column;
		text-align: center;
	}
	.story {
		margin-left: 0!important;
	}
	video {
		opacity: 0;
	}
	h3 {
		display: none;
	}
	.fa-play-circle-o,.fa-pause-circle-o {
		font-size: 4em!important;
	}
	.teamItems {
		flex-direction: column;
	}
	.tItem {
		width: 50%;
		margin: auto;
	}
	.g-item {
		flex-basis: 40%
	}
	.fWrapper {
		flex-direction: column;
		text-align: center;
	}
	.fCenter, .fRight {
		margin-left: 0;
	}
	.fCenter {
		text-align: center;
	}
	.fCenter li {
		width: 50%;
		margin: auto;
	}
	.fRight .social {
		justify-content: center;
	}
}
@media only screen and (max-width: 425px) {
	.ePic {
		width: 45%;
	}
	input, textarea, .form h2 {
		width: 300px;
	}
	.clients {
		margin-left: 0;
	}
}
@media only screen and (max-width: 320px) {
	#controls {
		left: 40%;
	}
	.ePic.one {
		background-position: 10% center;
	}
	.ePic.two {
		background-position: 32% center;
	}
	.ePic.five {
    	background-position: 84% center;
	}
	.ePic.six {
		background-position: 101% center;
	}
}